  body {
    background: #DFDFF9;
    color: #524C76;
    font-family: monospace, monospace;
    text-align: center;
    padding: 40px;
    user-select: none;
  }
  #yearLine {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  #explanation {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  #extraText {
    font-size: 1em;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: left;
    max-width: 600px;
    line-height: 1.4em;
  }
  #timerLine {
    font-size: 2em;
    font-family: monospace;
  }
